<DOCTYPE! html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="CSS/style.css">
  <link rel="stylesheet" href="CSS/normalize.css">
  <link rel="stylesheet" href="CSS/responsive.css">
  <title>Welcome Root BSD!</title>
</head>
<body>
    <div id="box">
    <div id="clock">
      <script type="text/javascript">
      function GetClock(){
        var d=new Date();
        var nhour=d.getHours(),nmin=d.getMinutes();
        if(nmin<=9) nmin="0"+nmin
        document.getElementById('clock').innerHTML=""+nhour+":"+nmin+"";
      }
      window.onload=function(){
        GetClock();
        setInterval(GetClock,1000);
      }
      </script>
    </div>
    <div id="links">
      <table>
        <tr>
          <td><a href="https://distrotoot.com" target="_blank" rel="noreferrer noopener">distrotoot</a></td>
          <td><a href="https://youtube.com" target="_blank" rel="noreferrer noopener">youtube</a></td>
          <td><a href="https://duckduckgo.com" target="_blank" rel="noreferrer noopener">duckduckgo</a></td>
        </tr>
        <tr>
          <td><a href="https://openbsd.org" target="_blank" rel="noreferrer noopener">openbsd</a></td>
          <td><a href="https://openports.pl" target="_blank" rel="noreferrer noopener">ports</a></td>
          <td><a href="https://openbsd.org/faq" target="_blank" rel="noreferrer noopener">faq</a></td>
        </tr>
        <tr>
          <td><a href="https://odysee.com" target="_blank" rel="noreferrer noopener">odysee</a></td>
          <td><a href="https://wallhaven.cc" target="_blank" rel="noreferrer noopener">wallhaven</a></td>
          <td><a href="https://soundcloud.com" target="_blank" rel="noreferrer noopener">soundcloud</a></td>
        </tr>
        <tr>
          <td><a href="https://man.openbsd.org/" target="_blank" rel="noreferrer noopener">manpages</a></td>
          <td><a href="https://gitlab.com/Root-BSD/" target="_blank" rel="noreferrer noopener">gitlab</a></td>
          <td><a href="https://www.imagebin.ca/" target="_blank" rel="noreferrer noopener">imagebin</a></td>
        </tr>
      </table>
    </div>
  </div>
  <img id="waifu" src="IMG/waifu.png">
</body>
