@font-face {
  font-family: 'silkscreennormal';
  src: url('slkscr-webfont.eot');
  src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
  url('slkscr-webfont.woff') format('woff'),
  url('slkscr-webfont.ttf') format('truetype'),
  url('slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

#box {
  background-color: #faebd6;
  border: solid 3px #cc7977;
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 15%;
  width: 30%;
}

.searchbox {
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  padding-left: 10px;
  border: solid 3px #cc7977;
  background-color: #faebd6;
}

#clock {
  position: absolute;
  font-size: 1.5em;
  bottom: 102%;
  right: 0px;
}

body {
  font-family: 'silkscreennormal', Arial;
  background-color: #006699;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

table {
  width: 100%;
  text-align: center;
  height: 100%;
  table-layout: fixed;
}

#waifu {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 70%;
  max-height
}
